<div class="min-h-screen flex flex-col relative overflow-hidden bg-[#F7F9FA] text-[#2C3E50]">

  <!-- Content -->
  <div class="relative z-10 flex flex-col min-h-screen w-full">
    <app-app-header variant="public"></app-app-header>
    <main class="grow flex flex-col w-full">
      <router-outlet></router-outlet>
    </main>
    <app-public-footer></app-public-footer>
    <!-- Overlay Panel -->
    <div [class.hidden]="!isMobileMenuOpen()" class="fixed inset-0 bg-gray-900/50 backdrop-blur-sm z-40 lg:hidden"
         (click)="isMobileMenuOpen.set(false)"></div>
  </div>

</div>
