<div class="w-full bg-white/10 backdrop-blur-xl border border-white/10 p-5 rounded-3xl shadow-xl hover:bg-white/15 hover:-translate-y-2 transition-all duration-300 flex items-center justify-between gap-4 cursor-pointer group"
    dir="rtl" (click)="onCardClick()">

    <div class="flex items-center gap-4 min-w-0">
        <div class="relative shrink-0">
            <div class="w-18 h-18 rounded-xl overflow-hidden border-2 border-white/10">
                <img [src]="expert().avatarUrl" [alt]="expert().name" class="w-full h-full object-cover" />

                @if (expert().isOnline) {
                <span class="absolute bottom-0.5 left-0.5 w-3.5 h-3.5 bg-[#10b981] border-2 border-white rounded-full">
                </span>
                }
            </div>
        </div>

        <div class="flex flex-col gap-1 min-w-0">
            <div class="flex items-center gap-1.5">
                @if (expert().isVerified) {
                <i class="fa-solid fa-circle-check text-bosla-orange text-base" title="موثق">
                </i>
                }

                <h3 class="text-[18px] font-bold text-white truncate">
                    {{ expert().name }}
                </h3>
            </div>

            <p class="text-[14px] text-white/60 truncate">
                {{ expert().title }}
            </p>

            <p class="text-[15px] font-bold text-white/80 mt-1">
                <span class="text-white font-black">
                    {{ expert().price }}
                </span>
                ر.س / ساعة
            </p>
        </div>
    </div>

    <div
        class="bg-white/10 border border-white/10 text-white px-2.5 py-1 rounded-lg flex items-center gap-1 text-[13px] font-bold shrink-0">
        <span>{{ expert().rating | number:'1.1-1' }}</span>
        <i class="fa-solid fa-star text-bosla-orange text-[11px]"></i>
    </div>

</div>